Please put in the first 12 digits of your 13 digit number.

<form method = "post" action = "/isbn_13">
<input type = "number" min = "000000000001" max = "999999999999" name = "isbn_13">
<input type = "submit">
</form>