Please put in the first 9 digits of your 10 digit number.

<form method = "post" action = "/isbn_10">
<input type = "number" min = "000000001" max = "999999999" name = "isbn_10">
<input type = "submit">
</form>